In [1]:
import pandas as pd

In [6]:
sky = pd.read_csv(r'skysmart1000.csv')
sky.head(2)

                  word transcription      translation
0  person (pl. people)        ˈpɜːsn  человек/персона
1        man (pl. men)           mæn          мужчина

In [7]:
dom = pd.read_csv(r'englishdom1000.csv')
dom.head(2)

  word translation
0  the     артикль
1   be        быть

In [42]:
sky.shape[0] + dom.shape[0]

1904

In [86]:
merged = sky.merge(right=dom, how='outer', on='word').fillna('')
index = merged.translation_x == ''
merged.loc[index, 'translation_x'] = merged.loc[index, 'translation_y']
merged.loc[index, 'translation_y'] = ''
merged.loc[merged['translation_x'] == merged['translation_y'], 'translation_y'] = ''
merged.loc[
    merged.word.str.startswith('(the)'), 'word'
] = merged.loc[
    merged.word.str.startswith('(the)'), 'word'
].str.removeprefix('(the) ')
merged = merged.drop_duplicates().sort_values('word').reset_index(drop=True)
merged

           word transcription      translation_x translation_y
0      American                       американец
1      American                     американский
2         April       ˈeɪprəl             апрель
3        August       ˈɔːɡəst             август
4     Christmas      ˈkrɪsməs          Рождество
...         ...           ...                ...           ...
1580      young           jʌŋ            молодой
1581       your                             твой
1582   your/you       jɔː/juː  твой/ваш/тебе/вам
1583   yourself                      тебя самого
1584       zero        ˈzɪrəʊ               ноль

[1585 rows x 4 columns]

In [88]:
merged.to_csv('merged.csv', index=False)